## AI ##
# You can find your OpenRouter API key at https://openrouter.ai/account/api-keys
OPENROUTER_API_KEY="YOUR_OPENROUTER_API_KEY_HERE"
DEEPSEEK_MODEL="deepseek/deepseek-chat" # Or your preferred DeepSeek model from OpenRouter (https://openrouter.ai/docs/api-reference/list-available-models?explorer=true)
TRANSLATION_MODEL="deepseek/deepseek-chat" # Or your preferred DeepSeek model from OpenRouter (https://openrouter.ai/docs/api-reference/list-available-models?explorer=true)

## Project ##
YOUR_BLOG_DOMAIN="myblogname.com"
FLASK_SECRET_KEY="any_long_random_strong_string_here" # For session security
